{{#if auth}}

{{!-- Menu cuando has iniciado sesi贸n --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GloboFiestaCake's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cuenta">Mi cuenta</a>
      </li>
      <li class="nav-item">
        <a href="/cerrar_sesion" class="btn btn-secondary btn-block">Cerrar sesi贸n</a>
      </li>
    </ul>
  </div>
</nav>
{{else}}

{{!-- Menu cuando no has iniciado sesi贸n --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GloboFiestaCake's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary btn-block" href="/iniciar_sesion">Iniciar Sesi贸n</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary btn-block" href="/registrate">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
{{/if}}