<!DOCTYPE html>
<html lang="es" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description"
        content="GloboFiestaCake’s es una Tienda Virtual de Repostería que te permite realizar el pedido de un pastel o postre garantizándote que este producto es elaborado con el más avanzado control de higiene, calidad y tecnologías en diseño acordes a cada celebración.">
    <link rel="shortcut icon" type="image/x-icon" href="/img/icon.ico" />
    {{>head}}
</head>

<body class="d-flex flex-column h-100">
    {{>navegation}}
    <main class="container">
        {{{body}}}
    </main>
    {{!-- Mensaje de alerta de uso de cookies --}}
    {{>cookieAlert}}
    {{!-- Footer de la pagina --}}
    {{>footer}}
</body>

</html>