{{!-- Formulario de actualizar categoría --}}

{{!-- Mostrar los mensajes en caso de existir --}}
    <div class="container p-4">
        <div class="row">
            <div class="ml-auto mr-auto form-small">
                <div class="card animate__animated animate__pulse">
                    <h5 class="card-header bg-dark text-white text-center">Categoría</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label ><Strong>Nombre:</Strong> {{categories.name}}</label>
                        </div>
                        <div class="form-group">
                            <label ><strong>Descripción:</strong></label>
                            <label >{{categories.description}}</>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
