<h1 class="text-center mt-2">Bienvenido</h1>
{{#if products}}

{{else}}

</div>
<div class="alert alert-info" role="alert">
    <h5>Aún no tenemos productos disponibles en la tienda.</h5>
</div>
{{/if}}