<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablece tu contraseña de GloboFiestaCake’s</title>
</head>

<body>
    <h2>Reestablece tu contraseña</h2>
    <p>¡Hola {{firstName}} {{lastName}}! Has solicitado reestablecer tu contraseña, haz clic en el botón inferior para reestablecer tu
        contraseña.</p>
    <p>Este enlace es temporal, así que si se vence, vuelve a solitarlo.</p>

    <a href="{{resetUrl}}">Reestablece tu contraseña</a>

    <p>Si no puedes acceder al enlace, copiar el siguiente enlace una pestaña del navegador: {{resetUrl}}</p>
    <p>Si no solicitaste reestablecer tu contraseña, puedes ignorar este correo.</p>
</body>

</html>