<header class="hero mt-3 rounded-top">
    <div class="h-100 p-0">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Bienvenido a GloboFiestaCake's</h1>
                <p class="lead">Somos una repostería creativa y de calidad.</p>
            </div>
        </div>
    </div>
</header>
<div>
    <section>
        <div class="container">
            <h2 class="font-weight-light">Page Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi
                officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim
                fugiat reprehenderit expedita.</p>
        </div>
    </section>
</div>