<header class="hero mt-3 rounded-top">
    <div class="h-100 p-0">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Bienvenido a GloboFiestaCake's</h1>
                <p class="lead">Somos una repostería creativa y de calidad.</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white rounded-bottom">
    <section class="p-1 pt-2">
        <div class="container">
            <h2 class="font-weight-light">Sobre Nosotros</h2>
            <p class="text-justify">
                Fundada el año 2012, una repostería destacada por su calidad y sabor inigualable.
                Ofrecemos productos de repostería de alta calidad con un excelente sabor y aun precio accesible.
                Establecimos un liderazgo con la colaboración y creatividad de nuestro talento humano,
                utilizando las mejores materias primas del mercado para satisfacer a nuestros clientes.
            </p>
        </div>
    </section>
    
</div>