<header class="hero mt-3 rounded-top">
    <div class="h-100 p-0">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light text-break">Bienvenido a GloboFiestaCake's</h1>
                <p class="lead">Somos una repostería creativa y de calidad.</p>
            </div>
        </div>
    </div>
</header>
<div class="bg-white rounded-bottom mb-3">
    <section class="p-1 pt-2">
        <div class="container">
            <h2 class="font-weight-light mt-3">Sobre Nosotros</h2>
            <p class="text-justify">
                Fundada el año 2012, una repostería destacada por su calidad y sabor inigualable.
                Ofrecemos productos de repostería de alta calidad con un excelente sabor y aun precio accesible.
                Establecimos un liderazgo con la colaboración y creatividad de nuestro talento humano,
                utilizando las mejores materias primas del mercado para satisfacer a nuestros clientes.
            </p>

            <h2 class="font-weight-light">Misión</h2>
            <p>
                Como empresa productora y comercializadora, ofrecemos servicio y garantía con un
                alto concepto de calidad, reflejado en el respeto por nuestros clientes y colaboradores.

                Garantizamos confiabilidad de los productos que procesamos y distribuimos, apoyados con una continua
                asesoría que asegura una mayor productividad y optima elaboración de los mismos.
            </p>


            <h2 class="font-weight-light">Visión</h2>
            <p>
                Ser una empresa líder en el negocio de repostería reconocida en la ciudad de Siguatepeque.
                Destacarnos por la calidad y sabor de nuestros productos, atención y servicio al cliente.Utilizando
                los
                más altos estándares de calidad y tecnología de vanguardia en nuestros procesos productivos.
            </p>



        </div>
        <div class="container mb-3">

            <h2 class="font-weight-light">Dirección</h2>
            <p>
                Calle 21 de agosto, cinco cuadras adelante de la gasolinera Puma a la par de la iglesia adventista
                muro verde portones café.
            </p>
            {{!-- Botón para abrir el mapa flotante(Modal) --}}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-map-marked-alt mr-1"></i>Mapa de google
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h5 class="modal-title text-white" id="exampleModalLabel">Mapa de google</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9 mb-3">

                                <iframe class="embed-responsive-item"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.056729590379!2d-87.86257078515982!3d14.595843289805456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTTCsDM1JzQ1LjAiTiA4N8KwNTEnMzcuNCJX!5e0!3m2!1ses!2shn!4v1596493636970!5m2!1ses!2shn"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>