body {
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-account {
  width: 50%;
}
.form-admin {
  width: 50%;
}

.form-small {
  width: 40%;
}

.admin-container {
  display: flex;
  flex-direction: row;
}

.btn-div {
  display: flex;
  flex-direction: row;
}

.btn-card {
  width: 100%;
}

nav li {
  margin-left: 0.2rem;
}

.imageSize {
  height: 20rem;
}

.imageSizeStore {
  height: 16rem;
}

@media (max-width: 768px) {
  .form-account {
    width: 100%;
  }
  .form-admin {
    width: 100%;
  }
  .form-small {
    width: 100%;
  }
  nav li {
    margin-left: 0;
    margin-top: 0.2rem;
    text-align: center;
  }
  .admin-container {
    display: flex;
    flex-direction: column;
  }
  
}
@media (min-width: 768px) {
  .btn-custom {
    padding-left: 30%;
    padding-right: 30%;
  }

  .btn-card {
    width: 50%;
    
  }
  
}
.nav-account a {
  height: 6rem;
  width: auto;
  text-align: center;
}

.form-search{
  width: 50%;
}

@media (max-width: 768px) {
  .barra{
    width: 100%;
  }
  
  .btn-buscar{
    width: 100%;
  }
  .form-search{
    width: 100%;
  }
}

.text-parcial{
  height: 5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.div-top{
  height: 15rem;
}

.div-bot{
  height: 30%;
}