{{!-- Formulario de cuenta de admin --}}

{{!-- Mostrar los mensajes en caso de existir --}}
{{>messages}}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
Administrador
        </div>
        <div class="card-body admin-container">
            <div class="form-account form-group">
                <h2>cuenta</h2>
            </div>
            <div class="form-admin form-group">
                a
            </div>
        </div>
    </div>
</div>