{{!-- Formulario de registro --}}

{{>messages}}

<form action="/registrate" method="post">
    <div class="container p-4">
        <div class="row">
            <div class=" offset-md-4">
                <div class="card">
                    <h5 class="card-header bg-dark text-white">Regístrate en GloboFiestaCake's</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" name="firstName" placeholder="Nombre" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="lastName" placeholder="Apellido" required class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Correo electrónico" required
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" required
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordConfirm" placeholder="Confirmar contraseña" required
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="number" name="phone" placeholder="Numero de telefono" required
                                class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Registrarse
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>¿Te gustan las galletas?</b> &#x1F36A; 
Utilizamos cookies para garantizar que obtenga la mejor experiencia en nuestro sitio web. <a href="https://cookiesandyou.com/" target="_blank">Aprende más</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        Estoy de acuerdo
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->