<div class="bg-white mt-3 mb-3 rounded pl-2 pr-2 pb-2 text-center">
    <img class="img-fluid" width="800" src="/img/404_not_found.png" alt="Pagina no encontrada by https://undraw.co">
    <h1 class=" mt-auto"><Strong>Pagina no encontrada</Strong></h1>
    <a href="/" class="btn btn-primary mb-3 h5"><i class="fas fa-home mr-1"></i>Volver al inicio</a>
</div>