<div class="card  m-4">
    <h2 class="p-2 font-weight-bold bg-dark text-white text-center rounded-top">Aviso Legal Y Terminos De Uso</h2>
    <div class="p-4 bg-white text-justify rounded-bottom">
        <p>
            En este espacio, el USUARIO, podrá encontrar toda la información relativa a los términos y condiciones
            legales que definen las relaciones entre los usuarios y nosotros como responsables de esta web. Como
            usuario, es importante que conozcas estos términos antes de continuar tu navegación. .Como responsable de
            esta web, asume el compromiso de procesar la información de nuestros usuarios y clientes con plenas
            garantías y cumplir con los requisitos nacionales y europeos que regulan la recopilación y uso de los datos
            personales de nuestros usuarios. Esta web, por tanto, cumple rigurosamente con el RGPD (REGLAMENTO (UE)
            2016/679 de protección de datos) y la LSSI-CE la Ley 34/2002, de 11 de julio, de servicios de la sociedad de
            la información y de comercio electrónico
        </p>

        <h3 class="font-weight-bold">Condiciones Gnerales De Uso</h3>
        <p>Las presentes Condiciones Generales regulan el uso (incluyendo el mero acceso) de las páginas de la web,
            integrantes del sitio web de incluidos los contenidos y servicios puestos a disposición en ellas. Toda
            persona que acceda a la web, (“Usuario”) acepta someterse a las Condiciones Generales vigentes en cada
            momento del portal.
        </p>

        <h3 class="font-weight-bold">Datos personales que recabamos y como lo hacemos</h3>
        <p>
            Leer Política de Privacidad
        </p>

        <h3 class="font-weight-bold"></h3>

    </div>
</div>